<!-- ユーザー簡易プロフィール（共通パーツ） -->

<% return unless user %>

<div class="profile-card">
  <h4><%= user.name %></h4>

  <%= image_tag user.get_profile_image,
        class: "profile-square",
        size: "120x120" %>

  <div class="profile-intro">
    <h5>自己紹介文</h5>
    <p><%= user.profile.presence || "自己紹介はまだありません。" %></p>
  </div>

  <div class="profile-stats mt-3">
    <h5>記録</h5>
    <p>投稿数: <%= user.posts.count %></p>
    <p>いいね数: <%= user.likes.count %></p>

    <p>
      フォロー数:
      <%= link_to following_user_path(user) do %>
        <span id="following-count-<%= user.id %>"><%= user.following.count %></span>
      <% end %>
    </p>

    <p>
      フォロワー数:
      <%= link_to followers_user_path(user) do %>
        <span id="followers-count-<%= user.id %>"><%= user.followers.count %></span>
      <% end %>
    </p>
  </div>

  <div class="mt-2">
    <%= link_to "いいねした投稿を見る", liked_posts_user_path(user),
        class: "btn btn-success btn-sm w-75" %>
  </div>

  <% if defined?(current_user) &&
      current_user == user &&
      controller_name == "users" &&
      action_name == "show" %>

    <div class="mt-2">
      <%= link_to "プロフィールを編集する",
          edit_user_path(user),
          class: "btn btn-primary btn-sm w-75" %>
    </div>

    <div class="mt-2">
      <%= link_to "アカウント設定（メール・パスワード変更）",
          edit_account_path,
          class: "btn btn-secondary btn-sm w-75" %>
    </div>

  <% end %>

</div>
