<div class="container-fluid">
  <div class="row">

    <!-- ▷ 左サイド：ジャンル & タグ -->
    <aside class="col-12 col-md-2 mb-4 mb-md-0">
      <!-- スマホ用 -->
      <div class="d-md-none">
        <%= render "posts/sidebar_mobile", groups: @groups, tags: @tags %>
      </div>
      <!-- PC用 -->
      <div class="d-none d-md-block">
        <%= render "posts/sidebar_desktop", groups: @groups, tags: @tags %>
      </div>
    </aside>

    <!-- ▷ 中央メイン：最新投稿 -->
    <div class="col-12 col-md-8">
      <!-- スマホ用投稿一覧 -->
      <div class="d-md-none">
        <%= render "posts/post_list_mobile", posts: @posts %>
      </div>
      <!-- PC用投稿一覧 -->
      <div class="d-none d-md-block">
        <%= render "posts/post_list_desktop", posts: @posts %>
      </div>
    </div>

    <!-- ▷ 右サイド：プロフィール -->
    <aside class="col-12 col-md-2 mt-4 mt-md-0">
      <!-- スマホ用 -->
      <div class="d-md-none">
        <%= render "posts/profile_area_mobile" %>
      </div>
      <!-- PC用 -->
      <div class="d-none d-md-block">
        <%= render "posts/profile_area_desktop" %>
      </div>
    </aside>

  </div>
</div>
