<div class="container mt-4">

  <!-- コミュニティ情報 -->
  <div class="post-detail mb-4">
    <h2><%= @community.name %></h2>

    <p>
          <strong>カテゴリ：</strong>
          <%= @community.category&.name || "未設定" %>
        </p>

    <p>
    
      作成者：
      <%= link_to @community.owner.name, user_path(@community.owner) %>
    </p>

    <p>
      メンバー数：<%= @community.members.count %>人
      （<%= link_to "一覧を見る", members_community_path(@community) %>）
    </p>

    <p><%= simple_format @community.description %></p>

    <% if user_signed_in? %>
      <% if @community.members.include?(current_user) %>

        <!-- 参加者だけトピック作成可能 -->
          <%= link_to "トピックを作成する",
            new_community_topic_path(@community),
            class: "btn btn-primary" %>

        <div class="d-flex justify-content-end gap-2">

          <!-- 参加中の場合 -->
         <%= button_to "退会する",
            community_community_membership_path(@community, current_user),
            method: :delete,
            class: "btn btn-outline-danger" %>

        </div>

      <% else %>

        <!-- 未参加の場合 -->
        <%= button_to "参加する",
            community_community_memberships_path(@community),
            method: :post,
            class: "btn btn-success" %>

      <% end %>
    <% end %>

    <% if user_signed_in? && current_user == @community.owner %>
      <%= link_to "編集",
              edit_community_path(@community),
              class: "btn btn-outline-primary" %>
    <% end %>

  </div>

  <!-- トピック一覧 -->
  <h4>トピック一覧</h4>

  <% if @community.topics.any? %>

    <% @community.topics.order(created_at: :desc).each do |topic| %>
      <div class="card p-3 mb-2">

        <h5 class="mb-1">
          <%= link_to topic.title,
              community_topic_path(@community, topic),
              class: "text-info fw-bold" %>
        </h5>

        <small class="text-white">
          作成者：
          <%= link_to topic.user.name, user_path(topic.user) %> /
          <%= topic.created_at.strftime("%Y-%m-%d ") %>
        </small>

      </div>
    <% end %>

  <% else %>

    <p>まだトピックはありません。</p>

  <% end %>

</div>
